    *{
      border-radius: 2px;
    }
    .container{
      width: 100px;
      height: 30px;
      border: 2px solid blue;
      padding: 10px 0px 0px 10px;
      margin: 20px 0px;

    }
    .container2{
      width: 240px;
      height: 30px;
      border: 2px solid rgb(64, 74, 78);
      background-color: aqua;
      padding-top: 3px;
      margin: 20px 0px;
    }
    .inner{
      text-align: center;
      height: 45px;
      width: 160px;
      border: 3px solid ;
      padding: 10px;
      margin: 18px;
    }
    .outer{
      border: 3px solid;
      color: rgb(0, 0, 0);
      width: 230px;
      margin: 20px 0px;
      text-align: center;
    }
    .cls{
      border: 1px solid;
      height: 100px;
      width: 200px;
    }