
.card{
  height: 100px;
  width: 90px;
  background-color: aquamarine;
  text-align: center; 
}
.grou{
  animation: move 2s ease-in-out infinite;
  background-color:rebeccapurple;
  display: flex;
  gap: 10px;

}
@keyframes move {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
  
}
.container{
  border: 2px solid red;
  overflow-x: auto;
}
.container::-webkit-scrollbar{
  display: none;
}