@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;

}
.container{
  border: 3px solid black;
  color: aliceblue;
}
.flexBox{
  padding: 16px;
  text-align: center;
}
.box-1{
  background-color: red;
}.box-2{
  background-color: rgb(0, 94, 255);
}.box-3{
  background-color: rgb(0, 255, 17);
}.box-4{
  background-color: rgb(221, 255, 0);
  color: darkslategray;
}.box-5{
  background-color: rgb(255, 115, 0);
}.box-6{
  background-color: rgb(255, 0, 242);
}.box-7{
  color: darkslategray;
  background-color: rgb(179, 255, 0);
}.box-8{
  background-color: rgb(123, 0, 255);
}.box-9{
  background-color: rgb(0, 255, 208);
}
.container{
  display: flex; 
  flex-wrap: wrap;
}
.flexBox{
  flex-basis: 20%;
}