.container{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 150px;
  gap: 13px;
  align-items: center;
}
.inside-box{
  height: 20px;
  width: 100px;
  background-color: rgb(222, 184, 14);
  border-radius: 20px;
  
}
.bgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}