/* .nav{
  display: flex;
  flex-direction: column;
}
.link{
 list-style: none;
 display: flex;
 flex-direction: column;

}
ul li{
 list-style: none;
 display: flex;
 flex-direction: column;
}
a{
  display: flex;
} */