.cart-container{
  width: 300px;
  height: 400px;
  background-color: #181818;
  padding: 20px;
  color: white;
  transition: all 0.3s ease;
}

.cart-container:hover{
  transform: scale(1.02);
  border-radius: 2%;
  box-shadow: 10px 10px 10px 0.17px rgba(0, 0, 0, 0.17);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart-container:active{
  color: #181818;
  background-color: aliceblue;
}